    div {
        background-color: black;
        margin: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gadna {
        margin: 0;
        display: flex;
        overflow: hidden;
    }
    .chara {
        position: absolute;
        animation-name: side;
        animation-duration: 10s;
        animation-iteration-count: 1;
    
    }
    @keyframes side {
        0%   { left: 60px; top: 50px;}
        50%  { left:100px; top: 50px;}
        100% { left: 60px; top: 50px;}
    }